<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <!-- #validation displays extra password missing error twice -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for object, url: url do |f| %>
  <%= f.number_field :user_id, type: "hidden", value: current_user.id %>
  <%= f.number_field :objective_id, type: "hidden", value: objective.id %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %><br>
