<% if @inspiration.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@inspiration.errors.count, "error") %>
      prohibited this inspiration from being saved:
    </h2>

    <ul>
    <% @inspiration.errors.full_messages.each do |msg| %>
      <!-- #validation displays extra password missing error twice -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @inspiration do |f| %>

  <%= f.label :source %><br>
  <%= f.text_field :source, placeholder: "required" %><br>

  <%= f.label :about %><br>
  <%= f.text_field :about, placeholder: "required" %><br>

  <p>What would you like to add?</p>

  <%= f.label :image %><br>
  <%= f.text_field :image %><br>

  <%= f.label :link %><br>
  <%= f.text_field :link %><br>

  <%= f.label :video %><br>
  <%= f.text_field :video %><br>

  <%= f.label :content %><br>
  <%= f.text_field :content %><br>

  <br></br>

  <%= f.submit %>
<% end %>
