<h1><%= @nested_attribute.source %></h1>

<span>About: </span>
<p><%= @nested_attribute.about %></p>

<% @nested_attribute.attributes.keys.each do |key| %>
<!-- displays label and value for key belonging to @nested attribute -->
  <%= display_label?(@nested_attribute["#{key}"], "#{key}") if valid_nested_attribute_key?(key) %>
  <%= display_nested_attribute?(@nested_attribute["#{key}"], "#{key}") if valid_nested_attribute_key?(key) %>

<% end %>

<br></br>
<!-- edit and delete link -->
<%= link_to "Edit Inspiration", edit_user_inspiration_path(@current_user, @nested_attribute) %><br>
<%= link_to "X", user_inspiration_path(@current_user, @nested_attribute), method: :delete, data: { confirm: "Really?" } %>
