<h1><%= @inspiration.source %></h1>

<p><%= @inspiration.about %></p>

<% if @inspiration.image %>
  <strong><a href="<%= @inspiration.image %>"><%= @inspiration.image %></a></strong>

  <br></br>
<% end %>

<% if @inspiration.link %>
  <strong><a href="<%= @inspiration.link %>"><%= @inspiration.link %></a></strong>

  <br></br>
<% end %>

<% if @inspiration.content %>
  <strong><%= @inspiration.content %></strong>

  <br></br>
<% end %>

<% if @inspiration.video %>
  <strong><a href="<%= @inspiration.video %>"><%= @inspiration.video %></a></strong>
<% end %>

<%= link_to "Edit Inspiration", edit_inspiration_path(@inspiration) %><br>
<%= link_to "X", @inspiration, method: :delete, data: { confirm: "Really?" } %>
