<h1><%= @nested_attribute.source %></h1>

<p><%= @nested_attribute.about %></p>

<% @nested_attribute.attributes.keys.each do |key| %>
  <!-- figure out how to not add br if no key -->
  <%= display_label_if_exists(@nested_attribute["#{key}"], "#{key}") if valid_nested_attribute_key?(key) %><br>
  <%= display_nested_attribute_if_exists(@nested_attribute["#{key}"], "#{key}") if valid_nested_attribute_key?(key) %><br>

<% end %>

<br></br>

<%= link_to "Edit Inspiration", edit_user_inspiration_path(@current_user, @nested_attribute) %><br>
<%= link_to "X", user_inspiration_path(@current_user, @nested_attribute), method: :delete, data: { confirm: "Really?" } %>
