<h1><%= @inspiration.source %></h1>

<p><%= @inspiration.about %></p>

<% @inspiration.attributes.keys.each do |key| %>

  <%= display_label_if_exists(@inspiration["#{key}"], "#{key}") if valid_attribute_key?(key) %><br>
  <%= display_attribute_if_exists(@inspiration["#{key}"], "#{key}") if valid_attribute_key?(key) %><br>

<% end %>

<br></br>

<%= link_to "Edit Inspiration", edit_user_inspiration_path(@current_user, @inspiration) %><br>
<%= link_to "X", user_inspiration_path(@current_user, @inspiration), method: :delete, data: { confirm: "Really?" } %>
