<% if errors != nil %>
<div>
  <h2 class="red shadow">
    <%= errors %>
  </h2>
</div>
<% end %>


<%= form_for User.new, url: login_path do |f| %>
  <%= f.label :email, class: "shadow" %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password, class: "shadow" %><br>
  <%= f.password_field :password %>

  <br></br>

  <%= f.submit "Let's get going", class: "button" %>
<% end %>
