<% if @priority_item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@priority_item.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>

    <ul>
    <% @priority_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<br></br>

<%= form_for @priority_item do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>
