<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this itmscription from being saved:
    </h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<br></br>

<%= form_for object do |f| %>

  <%= f.fields_for :priority_items do |itm| %>

    <% if itm.object.title.blank? %>
      <%= itm.label :title %><br>
      <%= itm.text_field :title %><br>

      <%= itm.label :description %><br>
      <%= itm.text_area :description %><br>
    <% end %>

  <% end %>

  <br></br>

  <%= f.password_field :password %>

  <%= f.submit "Add item"%>
<% end %>
