<h1>Your Quests</h1>

<% @quests.each do |quest| %>
  <strong><%= quest.title %></strong>
  <strong><%= quest.description %></strong>
  <strong><%= quest.objective.duration %></strong>

  <br></br>
<% end %>

<% @objectives.each do |objective| %>
  <form action="<%= new_quest_path %>" method="post">
    <input type="hidden" value="<%= @current_user.id %>" name="quest[user_id]">
    <input type="hidden" value="<%= objective.id %>" name="quest[objective_id]"><br>

    <input type="submit" name="commit" value="Go on a <%= objective.duration %> quest" data-disable-with="Go on a <%= objective.duration %> quest">
  </form>
<% end %>

<br></br>

<p>
  You can have up to two short term and one long term quest,
  type 1 for short term objective and type 2 for long term objective.
</p>
