<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this @user from being saved:
    </h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
<!-- maybe write something here to allow me to go back to my new page since user was not updated -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for object, url: @url do |f| %>

  <%= f.label :name, class: "comp-font" %><br>
  <%= f.text_field :name, class: "input" %><br>

  <%= f.label :birthdate, class: "comp-font" %><br>
  <%= f.date_field :birthdate, class: "input" %><br>

  <%= f.label :email, class: "comp-font" %><br>
  <%= f.text_field :email, class: "input" %><br>

  <%= f.label :password, class: "comp-font" %><br>
  <%= f.password_field :password, class: "input" %>

  <br></br>

  <%= f.submit class: "button comp-font" %>
<% end %>
