<% if errors != nil %>
<div>
  <h2 class="shadow">
    <%= pluralize(errors.count, "error") %>
    <%= "prohibited #{object.name} from being saved:" %>
  </h2>

  <ul>
  <% errors.each do |msg| %>

    <li class="red"><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>


<%= form_for object, url: @url do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :birthdate %><br>
  <%= f.date_field :birthdate %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %>

  <br></br>

  <%= f.hidden_field :controller, :value => "#{controller_name}" %>
  <%= f.hidden_field :action, :value => "#{action_name}" %>

  <%= f.submit class: "button" %>
<% end %>
