<div>
  <div><a href="#" class="attr" name="subscriptions" data-id="<%= @current_user.id %>">Subscriptions</a></div>
  <div><a href="#" class="attr" name="inspirations" data-id="<%= @current_user.id %>">Inspirations</a></div>
  <div><a href="#" class="attr" name="priority_items" data-id="<%= @current_user.id %>">Priorities</a></div>
  <div><a href="#" class="attr" name="disciplines" data-id="<%= @current_user.id %>">Disciplines</a></div>
  <div><a href="#" class="attr" name="quests" data-id="<%= @current_user.id %>">Quests</a></div>
  <div><a href="#" class="attr" name="family_members" data-id="<%= @current_user.id %>">Family Members</a></div>
</div>

<h1 class="attr-title"></h1>

<section></section>

<div class="attr-body"></div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".attr").on("click", function() {
    var attr = $(this).attr("name");
    var id = $(this).data("id");

    $.getJSON("/users/" + id + "/user_data", function(data) {
      var data_attr = $(data).attr(`${attr}`);

      $('section').html('');
      $('.attr-title').html(`${attr}`);

      data_attr.forEach(function(item, index, arr) {
        if (item.name) {
          $('section').append(`<a href="#" id="${attr}-${item.id}">${item.name}</a><br>`);

          document.getElementById(`${attr}-${item.id}`).addEventListener("click", function() {
            $.getJSON(`/${attr}/` + `${item.id}` + `/${attr}_data`, function (data) {
              console.log(data);
            });
          });

        } else if (item.title) {
          $('section').append(`<a href="#" id="${attr}-${item.id}">${item.title}</a><br>`);

          document.getElementById(`${attr}-${item.id}`).addEventListener("click", function() {
            $.getJSON(`/${attr}/` + `${item.id}` + `/${attr}_data`, function (data) {
              console.log(data);
            });
          });

        } else if (item.source) {
          $('section').append(`<a href="#" id="${attr}-${item.id}">${item.source}</a><br>`);

          document.getElementById(`${attr}-${item.id}`).addEventListener("click", function() {
            $.getJSON(`/${attr}/` + `${item.id}` + `/${attr}_data`, function (data) {
              console.log(data);
            });
          });
          
        }
      });

    });
  });
});
</script>
