<div>
  <div><a href="#" class="attr" data-id="<%= @current_user.id %>">Subscriptions</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user.id %>">Inspirations</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user.id %>">Priorities</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user.id %>">Disciplines</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user.id %>">Quests</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user.id %>">Family Members</a></div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".attr").on("click", function() {
    var id = $(this).data("id");
    $.getJSON("/users/" + id + "/user_data", function(data) {
      // Replace text of body-id div
      console.log(data);
    });
  });
});
</script>
