<div>
  <div><a href="#" class="attr" name="subscriptions" data-id="<%= @current_user.id %>">Subscriptions</a></div>
  <div><a href="#" class="attr" name="inspirations" data-id="<%= @current_user.id %>">Inspirations</a></div>
  <div><a href="#" class="attr" name="priority_items" data-id="<%= @current_user.id %>">Priorities</a></div>
  <div><a href="#" class="attr" name="disciplines" data-id="<%= @current_user.id %>">Disciplines</a></div>
  <div><a href="#" class="attr" name="quests" data-id="<%= @current_user.id %>">Quests</a></div>
  <div><a href="#" class="attr" name="family_members" data-id="<%= @current_user.id %>">Family Members</a></div>
</div>

<h1 class="attr-title"></h1>

<section id="attr-body">
</section>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".attr").on("click", function() {
    var attr = $(this).attr("name");
    var id = $(this).data("id");

    $.getJSON("/users/" + id + "/user_data", function(data) {
      var data_attr = $(data).attr(`${attr}`);
      var body_array = [];

      data_attr.forEach(function(item, index, arr) {
        if (item.name) {
          body_array.push(item.name);
        } else if (item.title) {
          body_array.push(item.title);
        } else if (item.source) {
          body_array.push(item.source);
        }
      });

      $('section').html('');
      $('.attr-title').html(`${attr}`);
      body_array.forEach(function(item, index, arr) {
        $('section').append(`<p>${item}</p>`);
      });
    });
  });
});
</script>
