<div class="my-life-links" data-id="<%= @current_user.id %>">
  <div class="my-life-link"><a href="#" class="attr" name="subscriptions" data-id="<%= @current_user.id %>">Subscriptions</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="inspirations" data-id="<%= @current_user.id %>">Inspirations</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="priority_items" data-id="<%= @current_user.id %>">Priorities</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="disciplines" data-id="<%= @current_user.id %>">Disciplines</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="quests" data-id="<%= @current_user.id %>">Quests</a></div>
  <div class="my-life-link"><a href="#" class="attr" name="family_members" data-id="<%= @current_user.id %>">Family Members</a></div>
</div>

<div class="container">
  <%= show_svg('content_section.svg') %>

  <div class="title">
    <h1 class="attr-title"></h1>
  </div>

  <article></article>

  <section>
  </section>

  <div class="actions"></div>
</div>

<div class="loader"></div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(window).load(function() {
     $('.loader').hide();
  });

  var current_user = new User;

  $('section').html('What to do, What to do!?<br>Click on a link to the left');

  $(".attr").on("click", function() {
    $('section').html('');
    getUserData(this);
  });
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
