<div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Subscriptions</a></div>
  <div><%= link_to 'Inspirations', user_inspirations_path(@current_user) %></div>
  <div><%= link_to 'Priorities', user_priority_items_path(@current_user) %></div>
  <div><%= link_to 'Discipline', user_disciplines_path(@current_user) %></div>
  <div><%= link_to 'Quests', user_objectives_path(@current_user) %></div>
  <div><%= link_to 'Family Members', user_family_members_path(@current_user) %></div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $("#subscriptions").on("click", function() {

  });
});
</script>
