<div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Subscriptions</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Inspirations</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Priorities</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Disciplines</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Quests</a></div>
  <div><a href="#" class="attr" data-id="<%= @current_user %>">Family Members</a></div>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".attr").on("click", function() {
    console.log(this);
  });
});
</script>
