<div class="profile_page">

<%= show_svg('profile_page.svg') %>

  <div id="name">
    <p>Hey <%= @current_user.display_name %>,<br>what are you up to today?!</p><br>
  </div>

  <div id="email">
    <p><%= @current_user.email %><br>Use that to contact me.</p>
  </div>

  <div id="birthday">
    <p>You were born on<br><%= @current_user.birthday %><br> so that makes you <br><%= @current_user.age %> years old!<br>
    It's kinda weird<br> that you're here<br>isn't it?</p>
  </div>

  <div id="user-edit">
    <%= link_to show_svg('edit-icon.svg'), edit_user_url %>
  </div>

</div>
