<% if @subscription.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@subscription.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @subscription.errors.full_messages.each do |msg| %>
      <!-- #validation displays extra password missing error twice -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @subscription do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :amount %><br>
  <%= f.number_field :amount %><br>

  <%= f.label :pay_day, "Due date" %><br>
  <%= f.text_field :pay_day, placeholder: "ex: 10/17" %><br>

  <br></br>

  <%= f.submit %>
<% end %>
