<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <!-- #validation displays extra password missing error twice -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for object do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :amount %><br>
  <%= f.number_field :amount, step: 0.01 , placeholder: "00.00", value: (number_with_precision(f.object.amount, :precision => 2) || 0) %><br>

  <%= f.label :due_day %><br>
  <%= f.number_field :due_day, placeholder: "Payemnt Due Day(1 - 28)" %><br>

  <br></br>

  <%= f.submit %>
<% end %>
