<% if object.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>

    <ul>
    <% object.errors.full_messages.each do |msg| %>

      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for object do |f| %>

  <%= f.fields_for :subscriptions do |sub| %>

    <% if sub.object.name.blank? %>
      <%= sub.label :name %><br>
      <%= sub.text_field :name %><br>

      <%= sub.label :amount %><br>
      <%= sub.number_field :amount, step: 0.01, value: (number_with_precision(sub.object.amount, :precision => 2) || 0) %><br>

      <%= sub.label :due_day %><br>
      <%= sub.number_field :due_day, placeholder: "Payemnt Due Day(1 - 28)" %><br>
    <% end %>

  <% end %>

  <br></br>

  <%= f.password_field :password %>

  <%= f.submit "Add Subscription"%>
<% end %>
