<ul>
<% all_of_nested_attribute.each do |attr| %>

  <% if valid_controller?("links") %>
<!-- display info and button for toggle hide/show when in inspirations -->

    <button class="button" onclick="button_style(<%= attr.id.to_s %>)"><%= attr.source %></button><br>


    <div id="<%= attr.id %>" style="display: none">
      <% attr.attributes.keys.each do |key| %>
        <%= display_label?(attr["#{key}"], "#{key}") if valid_inspiration?(key) %>
        <ul>
          <%= display_nested_attribute?(attr["#{key}"], "#{key}") if valid_inspiration?(key) %>
        </ul>
      <% end %>

      <%= link_to show_svg('edit-icon.svg'), "/#{user_attr_path(controller_name, attr)}/edit", class: "shadow" %>
      <%= link_to "X", "/#{user_attr_path(controller_name, attr)}", method: :delete, data: { confirm: "Really?" }, class: "comp-font red"%>
    </div>

  <% else %>
<!-- else make list for all of the nested_attribute's info no links ; look up info on how to apply css to last child-->
    <div>
      <% nested_attribute_keys.each do |key| %>
      <li>
        <strong>
          <%= proper_format(key) %>: <%= attr["#{key}"] unless valid_controller?("links") %>
        </strong>
      </li>
      <% end %>
<!-- delete and edit -->
<!-- refactor -->
      <%= link_to show_svg('edit-icon.svg'), "/#{user_attr_path(controller_name, attr)}/edit", class: "shadow" if valid_controller?("edit") %>
      <%= link_to "X", "/#{user_attr_path(controller_name, attr)}", method: :delete, data: { confirm: "Really?" }, class: "comp-font red"%>
    </div>

  <% end %>

  <br></br>

<% end %>
</ul>
