<ul>
<% all_of_nested_attribute.each do |attr| %>

  <% if valid_controller?("links") %>
<!-- display info and button for toggle hide/show when in inspirations -->

    <button class="button comp-font" onclick="button_style(<%= attr.id.to_s %>)"><%= attr.source %></button><br>


    <div id="<%= attr.id %>" style="display: none">
      <% attr.attributes.keys.each do |key| %>
        <%= display_inspirations_info_using(attr, key) %>
      <% end %>

      <%= link_to show_svg('edit-icon.svg'), "/users/#{@current_user.id}/#{controller_name}/#{attr.id}/edit", class: "shadow" %>
      <%= link_to "X", "/users/#{@current_user.id}/#{controller_name}/#{attr.id}", method: :delete, data: { confirm: "Really?" }, class: "comp-font red"%>
    </div>

  <% else %>
<!-- else make list for all of the nested_attribute's info no links -->
    <% nested_attribute_keys.each do |key| %>
      <li>
        <strong class="comp-font"><%= proper_format(key) %>: <%= attr["#{key}"] unless valid_controller?("links") %></strong>
      </li>
    <% end %>
<!-- delete and edit -->

    <%= link_to show_svg('edit-icon.svg'), "/users/#{@current_user.id}/#{controller_name}/#{attr.id}/edit", class: "shadow" if valid_controller?("edit") %>
    <%= link_to "X", "/users/#{@current_user.id}/#{controller_name}/#{attr.id}", method: :delete, data: { confirm: "Really?" }, class: "comp-font red"%>

    <br></br>

  <% end %>
<% end %>
</ul>
