<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
<!-- creates label first / move out conditional -->
    <tr>
      <% nested_attribute_keys.each do |key| %>
        <% key = "quest_type" if key == "user_id" && controller_name == "objectives" %>
        <td>
          <strong class="border pink">
            <%= proper_format(key) %>
          </strong>
        </td>
      <% end %>
    </tr>

    <% all_of_nested_attribute.each do |attribute| %>
      <tr>
<!-- then returns value of key / move out these conditionals to validate helper -->
        <% nested_attribute_keys.each do |key| %>
          <td class="center">
            <strong>
              <%=  attribute.quest_duration if valid_for_quests?(key) %>
              <%= attribute.payment if valid_for_subscriptions?(key) %>
              <%= attribute[key] unless invalid_for_remaining_attributes?(key) %>
            </strong>
          </td>
        <% end %>
<!-- delete and edit -->
        <td>
          <%= display_edit_link?(attribute) %>
          <%= link_to "X", "/#{user_attr_path(controller_name, attribute)}", method: :delete, data: { confirm: "Really?" }, class: "comp-font red"%>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
