<!DOCTYPE html>
<html>
  <head>
    <title>LifeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <%= link_to 'Home', root_url %>&nbsp;&nbsp;

      <% if @current_user %>

        <%= link_to "#{@current_user.name}'s profile", @current_user %>&nbsp;&nbsp;
        <%= link_to "Subscriptions", subscriptions_path %>&nbsp;&nbsp;
        <%= link_to "Priorities", priority_items_path %>&nbsp;&nbsp;
        <%= link_to "Quests", objectives_path %>&nbsp;&nbsp;
        <%= link_to "Inspirations", inspirations_path %>&nbsp;&nbsp;
        <%= link_to "Disciplines", disciplines_path %>&nbsp;&nbsp;
        <%= link_to "Log Out", logout_path, method: :delete %>&nbsp;&nbsp;
      <% else %>

        <%= link_to 'Sign Up', signup_path %>&nbsp;
        <%= link_to 'Log In', login_path %>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
