<!DOCTYPE html>
<html>
  <head>
    <title>LifeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
<!-- always display home -->
      <%= link_to 'Home', root_url %>

    <% if @current_user %>
      <%= link_to "#{@current_user.name}'s profile", @current_user %>
<!-- display links to index page of all nested attributes if logged in -->
    <% nested_attributes_keys.each do |attr| %>
      <%= display_nested_attribute_link(attr) %>
    <% end %>
<!-- display logout -->
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% else %>
<!-- display links to sign up or log in if not logged in -->
      <%= link_to 'Sign Up', signup_path %>
      <%= link_to 'Log In', login_path %>
    <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
