<!DOCTYPE html>
<html>
  <head>
    <title>LifeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
<!-- always display home -->
    <% if controller_name == "static"  %>
      <%= link_to 'Home', root_url, class: "comp-font shadow" %>
    <% else %>
      <%= link_to 'Home', root_url, class: "scratch-font" %>
    <% end %>

    <% if @current_user %>
      <% if controller_name == "users" && params[:action] == "show"  %>
          <%= link_to "#{@current_user.name}'s profile", @current_user, class: "comp-font shadow" %>
      <% else %>
          <%= link_to "#{@current_user.name}'s profile", @current_user, class: "scratch-font" %>
      <% end %>


<!-- display links to index page of all nested attributes if logged in -->
      <% nested_attributes_keys.each do |attr| %>
        <%= display_nested_attribute_link(attr) %>
      <% end %>
<!-- display logout -->
      <%= link_to "Log Out", logout_path, method: :delete, class: "scratch-font" %>
    <% else %>
<!-- display links to sign up or log in if not logged in -->
      <% if controller_name == "users" && params[:action] == "new" %>
          <%= link_to 'Sign Up', signup_path, class: "comp-font shadow" %>
      <% else %>
          <%= link_to 'Sign Up', signup_path, class: "scratch-font" %>
      <% end %>


      <% if controller_name == "sessions" && params[:action] == "new" %>
          <%= link_to 'Log In', login_path, class: "comp-font shadow"%>
      <% else %>
          <%= link_to 'Log In', login_path, class: "scratch-font"%>
      <% end %>


    <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
